.business {
    @include overTab {
        padding-bottom: 0;
    }
    background-image: url(../img/business-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;
}

.business::after {
    @include overTab {
    }
    content: '';
    background-color: rgba(6, 30, 55, 1);
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.business-top {
    @include overTab {
        margin: 0 50px;
    }
    margin: 0;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .business-title {
        @include overTab {
            font-size: 44px;
            margin: 0;
            margin-left: 20%;
        }
        display: block;
        margin: 0 auto;
        font-size: 28px;
        order: 2;
        color: cl(white);
        border-bottom: 3px solid cl(yellow);
        padding-bottom: 5px;
        text-align: center;
    }
    .our-business {
        @include overTab {
            width: 300px;
            margin: 0;
        }
        width: 300px;
        order: 1;
        margin: 0 auto;
    }
}

.business-guide {
    @include overTab {
        margin-top: 80px;
        font-size: 18px;
        padding-bottom: 50px;
    }
    margin-top: 40px;
    margin-bottom: 0;
    color: cl(white);
    line-height: 2.5;
    font-size: 16px;
    padding-bottom: 0;
}